
body{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-color: #131313;
    padding-top: 64px;
}

* {
    margin: 0;
    padding: 0;
}
i {
    margin-right: 10px;
}

.container {
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 767px) {
    .container {
        width: 90%;
    }
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.no-p{
    padding: unset;
    margin: unset;
}

.anim{
    transform: translate3d(0, 0, 0);
    transition: transform 0.5s ease-out;
    will-change: transform;
}

.anim:hover{
    transform: translate3d(0, 3px, 0)scale(1.1);
}

.textAccount:hover{
 text-decoration: underline;
}

/* animation */


main,
.nav-link,
.navbar img,
.navbar a{
    opacity: 0;
    animation: loadAnimation 1s ease-in-out forwards;
    transform: translateY(20px);

}

@keyframes loadAnimation {
    0% {
        opacity: 0;
        transform: translateY(20px);

    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }

}