body.light main #recrut {
    border: 2px solid white;
    color: #2a2a2a;
}

body.light #partenaire img{
    box-shadow: 1px 5px 10px #bdb4b4;
}

body.light .our-team {
    background-color: white;
    box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
}
body.light #section-fondateur .our-team{
    box-shadow: unset;
}

body.light #section-fondateur div.container {
    background-color: white;
    box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
}

body.light #section-fondateur div.container div.container {
    box-shadow: unset;
}