body.light .section-contact .form-contact .single-input input,
body.light .section-contact .form-contact .single-input textarea {
    border-bottom: 2px solid #000000;
    color: black;
}

body.light .section-contact .form-contact .single-input input:focus,
body.light .section-contact .form-contact .single-input textarea:focus {
    border-color: #0049ee;
}

body.light [include*="form-input-select()"] select {
    border: 3px solid #585858;
}

body.light  [include*="form-input-select()"]::before {
    border-bottom-color: #585858;
}

body.light [include*="form-input-select()"]::after {
    border-top-color: #585858;
}

body.light [include*="form-input-select()"]:hover select {
    border-color: #0049ee;
}

body.light [include*="form-input-select()"]:hover::after {
    border-top-color: #0049ee;
}

body.light [include*="form-input-select()"]:hover::before {
    border-bottom-color: #0049ee;
}