body.light .site-footer
{
    background-color:white;
    color: #2a2a2a;
    box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
}
body.light .site-footer hr
{
    border-top-color:#2a2a2a;
}
body.light .footer-links a
{
    color: black
}

body.light .footer-links a:active,body.light .footer-links a:focus,body.light .footer-links a:hover
{
    color:#3366cc;
}

body.light .site-footer .social-icons a
{
    background-color:#f3f6fd;
}

body.light  .social-icons a.facebook:hover
{
    background-color:#3b5998
}
body.light .social-icons a.instagram:hover
{
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);

}
body.light .social-icons a.twitter:hover
{
    background-color:#00aced
}
body.light .social-icons a.discord:hover
{
    background-color: #404EED
}
body.light .social-icons a.linkedin:hover
{
    background-color: #0A66C2
}
body.light .social-icons a.youtube:hover
{
    background-color: #ff0000
}
body.light .social-icons a.twitch:hover
{
    background-color: #9046FF
}
body.light .social-icons a.github:hover
{
    background-color: #000000
}

body.light .social-icons a.tiktok:hover
{
    background-color: #000000
}