body.light #particule div#head h1{
    text-shadow: 0 0 1em rgb(255, 255, 255);
    color: #2a2a2a;
}

body.light #particule div#head p{
    color: #2a2a2a;
    text-shadow: 0 0 1em rgb(255, 255, 255);
}

body.light #home-account {
    background-color: white;
    box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
}

body.light #head h1{
    color: #2a2a2a;
}