#particule{
    border: none;
    width: 100%;
    height: 500px;
}

#particule div#head{
    position: absolute;
    width: 50%;
    margin-top: 133px;
    margin-left: 25%;
    margin-right: 25%;
}

@media (max-width: 991px){
    #particule div#head{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

#particule div#head h1{
    text-align: center;
    font-size: 110px;
    color: #1325d7;
    margin: unset;

    font-family: 'Lato', sans-serif;
    text-shadow: 0 0 1em #787878;
}

#particule div#head h1:hover{
    font-size: 120px;
}

#particule div#head p{
    text-align: center;
    font-size: 30px;
    color: white;
}
#particule div#head p:hover{
    font-size: 35px;
}

@media (max-width: 535px){
    #particule div#head h1{
        font-size: 80px;
    }
    #particule div#head h1:hover{
        font-size: 90px;
    }
    #particule div#head p{
        font-size: 20px;
    }
    #particule div#head p:hover{
        font-size: 25px;
    }
    #particule{
        height: 400px;
    }
}

/******************************
        ACCEUIL
******************************/

main #accueil {
    background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.2) 50%,
            #111111 50%
    ),
    url("http://tyrolium.fr/Contenu/Image/Background4.png");
    background-size: cover;
    background-position: center 35%;
    color: white;
    padding: 50px 0 50px;
    margin-bottom: 30px;
}
main #accueil div {
    display: flex;
    justify-content: flex-end;
}
main #accueil article {
    width: 40%;
}
main #accueil article h2 {
    margin-left: -70px;
}
main #accueil article p {
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    main #accueil {
        background-image: linear-gradient(
                to right,
                #282828 90%,
                rgba(0, 0, 0, 0.2) 9%
        ),
        url("http://tyrolium.fr/Contenu/Image/Background4.png");
        color: white;
        padding-top: 30px;
        padding-bottom: 5px;
        padding-left: 0px;
        padding-right: 0px;
    }
    main #accueil article {
        width: 100%;
    }
    main #accueil article h2 {
        margin-left: 0;
    }

    main #accueil article p {
        margin-left: 0px;
        margin-right: 30px;
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    main #accueil {
        background: #282828;
    }
    main #accueil article p {
        margin-left: 0px;
        margin-right: 0px;
    }
}


/* other*/


#home-story, #home-french, #home-account, #home-service, #home-project, #home-collaboration {
    margin-bottom: 120px;
}

#home-account {
    background-color: #26272b;
}


h2.art{
    padding-top: 60px;
    padding-bottom: 30px;
}

p.art{
    padding-bottom: 30px;
}


@media (max-width: 991px) {
    .home-desktop{
        display: none;
    }
}