#particule{
    border: none;
    width: 100%;
    height: 500px;
}

#particule div#head{
    position: absolute;
    width: 50%;
    margin-top: 133px;
    margin-left: 25%;
    margin-right: 25%;
}

@media (max-width: 991px){
    #particule div#head{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

#particule div#head img#head-img{
    width: 379px;
    margin-top: 87px;

    transform: translate3d(0, 0, 0);
    transition: transform 0.2s ease-out;
    will-change: transform;
}

#particule div#head  img#head-img:hover{
    transform: translate3d(0, 3px, 0)scale(1.1);
}

#particule div#head h1{
    text-align: center;
    font-size: 110px;
    /* color: #1325d7; */
    color: white;
    margin: unset;

    font-family: 'Lato', sans-serif;
    text-shadow: 0 0 1em #787878;

    transform: translate3d(0, 0, 0);
    transition: transform 0.2s ease-out;
    will-change: transform;

}

#particule div#head h1:hover{
    /*font-size: 120px;*/
    transform: translate3d(0, -8px, 0)scale(1.1);
}

#particule div#head p{
    text-align: center;
    font-size: 30px;
    color: white;

    transform: translate3d(0, 0, 0);
    transition: transform 0.2s ease-out;
    will-change: transform;
}
#particule div#head p:hover{
    /*font-size: 35px;*/
    transform: translate3d(0, 3px, 0)scale(1.1);
}

@media (max-width: 535px){
    #particule div#head img#head-img{
        width: 260px;
        margin-top: 95px;
    }

    #particule div#head h1{
        font-size: 65px;
    }
    #particule div#head h1:hover{
        font-size: 65px;
    }
    #particule div#head p{
        font-size: 20px;
    }
    #particule div#head p:hover{
        font-size: 20px;
    }
    #particule{
        height: 400px;
    }
}


/* other*/
#home-tyro, #home-story, #home-french, #home-account, #home-service, #home-project, #home-collaboration {
    margin-bottom: 120px;
    
    text-align: justify;
}

#home-account {
    background-color: #26272b;
}

h2.art i,
h2.art-res i {
    margin-right: 2px;
    color: #1325d7;
}

h2.art{
    padding-top: 60px;
    padding-bottom: 30px;
}

p.art{
    padding-bottom: 30px;
}

h2.art-res{
    padding-top: 40px;
    padding-bottom: 15px;
    text-align: center;
}

p.art-res{
    padding-bottom: 0px;
}

.img-home{
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s ease-out;
    will-change: transform;
}

.img-home:hover{
    transform: translate(0, -15px);
    transform: translate3d(0, -15px, 0);
}

@media (max-width: 1050px) {

    .img-home{
        width: 90%;
    }

}


@media (max-width: 991px) {
    .home-desktop{
        display: none;
    }

    #home-tyro, #home-story, #home-french, #home-account, #home-service, #home-project, #home-collaboration {
        margin-bottom: 26px;
    }

    .img-home{
        width: unset;
    }
}

@media (min-width: 992px) {
    .home-res{
        display: none;
    }
}
