body.light .navbar-dark .navbar-brand {
    color: #3e3e3e;
}

body.light .navbar-logo:hover{
    color: #242424;
}

body.light .navbar-mainbg{
    background-color: white;
    box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
}

body.light #navbarSupportedContent ul li a{
    color: #3e3e3e;
}

body.light #navbarSupportedContent>ul>li.active>a{
    color: #004af5;
}

body.light .hori-selector{
    background-color: #f3f6fd;
}

body.light .hori-selector .right,
body.light .hori-selector .left{
    background-color: #f3f6fd;
}

body.light .hori-selector .right:before,
body.light .hori-selector .left:before{
    background-color: white;
}

body.light .navbar-dark .navbar-toggler-icon {
    filter: unset;
}

@media (max-width: 991px) {
    body.light .btn-darkmode{
        background: white;
    }
}