.popups-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    perspective: 1000px;
    pointer-events: none;
    transition: z-index 0s 0.8s;
}
.popups-cont.s--popup-active {
    z-index: 1000;
    pointer-events: auto;
    transition: z-index 0s 0s;
}
.popups-cont__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.35s;
}
.popups-cont.s--popup-active .popups-cont__overlay {
    opacity: 1;
    transition: opacity 0.35s 0.35s;
}

.popup {
    z-index: 2;
    position: relative;
    width: 500px;
    height: 500px;
    transform-style: preserve-3d;
}
.popup .popup__piece:nth-child(1) {
    height: 18.6666666667%;
    width: 17.6666666667%;
}
.popup .popup__piece:nth-child(1) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-47vw, -25vh, 613px) rotateX(458deg) rotateY(432deg);
    -webkit-clip-path: polygon(0 0, 0 100%, 42% 100%);
    clip-path: polygon(0 0, 0 100%, 42% 100%);
}
.popup .popup__piece:nth-child(1) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-58vw, 27vh, -351px) rotateX(415deg) rotateY(337deg);
    -webkit-clip-path: polygon(0 0, 42% 100%, 100% 0);
    clip-path: polygon(0 0, 42% 100%, 100% 0);
}
.popup .popup__piece:nth-child(1) .popup__piece-inner:nth-child(3) {
    transform: translate3d(57vw, 18vh, 328px) rotateX(364deg) rotateY(353deg);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 42% 100%);
    clip-path: polygon(100% 0, 100% 100%, 42% 100%);
}
.popup.s--closed .popup__piece:nth-child(1) {
    transform: translate3d(0, 135vh, 0);
}
.popup.s--closed .popup__piece:nth-child(1) .popup__piece-inner:nth-child(1) {
    transform: translate3d(17vw, 0, 0) rotateX(171deg) rotateY(207deg);
}
.popup.s--closed .popup__piece:nth-child(1) .popup__piece-inner:nth-child(2) {
    transform: translate3d(74vw, 0, 0) rotateX(230deg) rotateY(189deg);
}
.popup.s--closed .popup__piece:nth-child(1) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-1vw, 0, 0) rotateX(248deg) rotateY(431deg);
}
.popup .popup__piece:nth-child(2) {
    height: 18.6666666667%;
    width: 18.6666666667%;
}
.popup .popup__piece:nth-child(2) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-27vw, -18vh, 737px) rotateX(170deg) rotateY(144deg);
    -webkit-clip-path: polygon(0 0, 0 100%, 52% 100%);
    clip-path: polygon(0 0, 0 100%, 52% 100%);
}
.popup .popup__piece:nth-child(2) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-17vw, 56vh, -788px) rotateX(460deg) rotateY(415deg);
    -webkit-clip-path: polygon(0 0, 52% 100%, 100% 0);
    clip-path: polygon(0 0, 52% 100%, 100% 0);
}
.popup .popup__piece:nth-child(2) .popup__piece-inner:nth-child(3) {
    transform: translate3d(26vw, -40vh, -86px) rotateX(430deg) rotateY(211deg);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 52% 100%);
    clip-path: polygon(100% 0, 100% 100%, 52% 100%);
}
.popup.s--closed .popup__piece:nth-child(2) {
    transform: translate3d(0, 103vh, 0);
}
.popup.s--closed .popup__piece:nth-child(2) .popup__piece-inner:nth-child(1) {
    transform: translate3d(78vw, 0, 0) rotateX(458deg) rotateY(467deg);
}
.popup.s--closed .popup__piece:nth-child(2) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-47vw, 0, 0) rotateX(149deg) rotateY(126deg);
}
.popup.s--closed .popup__piece:nth-child(2) .popup__piece-inner:nth-child(3) {
    transform: translate3d(19vw, 0, 0) rotateX(184deg) rotateY(469deg);
}
.popup .popup__piece:nth-child(3) {
    height: 18.6666666667%;
    width: 21.6666666667%;
}
.popup .popup__piece:nth-child(3) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-34vw, 54vh, 116px) rotateX(328deg) rotateY(206deg);
    -webkit-clip-path: polygon(0 0, 0 100%, 53% 100%);
    clip-path: polygon(0 0, 0 100%, 53% 100%);
}
.popup .popup__piece:nth-child(3) .popup__piece-inner:nth-child(2) {
    transform: translate3d(14vw, -26vh, 129px) rotateX(236deg) rotateY(218deg);
    -webkit-clip-path: polygon(0 0, 53% 100%, 100% 0);
    clip-path: polygon(0 0, 53% 100%, 100% 0);
}
.popup .popup__piece:nth-child(3) .popup__piece-inner:nth-child(3) {
    transform: translate3d(9vw, 53vh, 468px) rotateX(402deg) rotateY(295deg);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 53% 100%);
    clip-path: polygon(100% 0, 100% 100%, 53% 100%);
}
.popup.s--closed .popup__piece:nth-child(3) {
    transform: translate3d(0, 104vh, 0);
}
.popup.s--closed .popup__piece:nth-child(3) .popup__piece-inner:nth-child(1) {
    transform: translate3d(50vw, 0, 0) rotateX(437deg) rotateY(134deg);
}
.popup.s--closed .popup__piece:nth-child(3) .popup__piece-inner:nth-child(2) {
    transform: translate3d(20vw, 0, 0) rotateX(251deg) rotateY(322deg);
}
.popup.s--closed .popup__piece:nth-child(3) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-8vw, 0, 0) rotateX(314deg) rotateY(348deg);
}
.popup .popup__piece:nth-child(4) {
    height: 18.6666666667%;
    width: 19.6666666667%;
}
.popup .popup__piece:nth-child(4) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-28vw, -9vh, 473px) rotateX(350deg) rotateY(182deg);
    -webkit-clip-path: polygon(0 0, 0 100%, 53% 100%);
    clip-path: polygon(0 0, 0 100%, 53% 100%);
}
.popup .popup__piece:nth-child(4) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-21vw, 55vh, 640px) rotateX(327deg) rotateY(308deg);
    -webkit-clip-path: polygon(0 0, 53% 100%, 100% 0);
    clip-path: polygon(0 0, 53% 100%, 100% 0);
}
.popup .popup__piece:nth-child(4) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-33vw, -51vh, 480px) rotateX(338deg) rotateY(426deg);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 53% 100%);
    clip-path: polygon(100% 0, 100% 100%, 53% 100%);
}
.popup.s--closed .popup__piece:nth-child(4) {
    transform: translate3d(0, 135vh, 0);
}
.popup.s--closed .popup__piece:nth-child(4) .popup__piece-inner:nth-child(1) {
    transform: translate3d(31vw, 0, 0) rotateX(192deg) rotateY(339deg);
}
.popup.s--closed .popup__piece:nth-child(4) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-76vw, 0, 0) rotateX(143deg) rotateY(383deg);
}
.popup.s--closed .popup__piece:nth-child(4) .popup__piece-inner:nth-child(3) {
    transform: translate3d(29vw, 0, 0) rotateX(173deg) rotateY(370deg);
}
.popup .popup__piece:nth-child(5) {
    height: 18.6666666667%;
    width: 1.6666666667%;
}
.popup .popup__piece:nth-child(5) .popup__piece-inner:nth-child(1) {
    transform: translate3d(35vw, 4vh, -353px) rotateX(349deg) rotateY(125deg);
    -webkit-clip-path: polygon(0 0, 0 100%, 51% 100%);
    clip-path: polygon(0 0, 0 100%, 51% 100%);
}
.popup .popup__piece:nth-child(5) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-17vw, -57vh, -660px) rotateX(218deg) rotateY(176deg);
    -webkit-clip-path: polygon(0 0, 51% 100%, 100% 0);
    clip-path: polygon(0 0, 51% 100%, 100% 0);
}
.popup .popup__piece:nth-child(5) .popup__piece-inner:nth-child(3) {
    transform: translate3d(20vw, -30vh, 756px) rotateX(251deg) rotateY(292deg);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 51% 100%);
    clip-path: polygon(100% 0, 100% 100%, 51% 100%);
}
.popup.s--closed .popup__piece:nth-child(5) {
    transform: translate3d(0, 134vh, 0);
}
.popup.s--closed .popup__piece:nth-child(5) .popup__piece-inner:nth-child(1) {
    transform: translate3d(65vw, 0, 0) rotateX(298deg) rotateY(244deg);
}
.popup.s--closed .popup__piece:nth-child(5) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-30vw, 0, 0) rotateX(472deg) rotateY(356deg);
}
.popup.s--closed .popup__piece:nth-child(5) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-8vw, 0, 0) rotateX(165deg) rotateY(411deg);
}
.popup .popup__piece:nth-child(6) {
    height: 18.6666666667%;
    width: 20.6666666667%;
}
.popup .popup__piece:nth-child(6) .popup__piece-inner:nth-child(1) {
    transform: translate3d(32vw, -38vh, -551px) rotateX(331deg) rotateY(438deg);
    -webkit-clip-path: polygon(0 0, 0 100%, 58% 100%);
    clip-path: polygon(0 0, 0 100%, 58% 100%);
}
.popup .popup__piece:nth-child(6) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-20vw, -35vh, -124px) rotateX(453deg) rotateY(472deg);
    -webkit-clip-path: polygon(0 0, 58% 100%, 100% 0);
    clip-path: polygon(0 0, 58% 100%, 100% 0);
}
.popup .popup__piece:nth-child(6) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-59vw, 53vh, 133px) rotateX(438deg) rotateY(266deg);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 58% 100%);
    clip-path: polygon(100% 0, 100% 100%, 58% 100%);
}
.popup.s--closed .popup__piece:nth-child(6) {
    transform: translate3d(0, 110vh, 0);
}
.popup.s--closed .popup__piece:nth-child(6) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-4vw, 0, 0) rotateX(217deg) rotateY(331deg);
}
.popup.s--closed .popup__piece:nth-child(6) .popup__piece-inner:nth-child(2) {
    transform: translate3d(30vw, 0, 0) rotateX(403deg) rotateY(328deg);
}
.popup.s--closed .popup__piece:nth-child(6) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-28vw, 0, 0) rotateX(395deg) rotateY(190deg);
}
.popup .popup__piece:nth-child(7) {
    height: 17.6666666667%;
    width: 14.6666666667%;
}
.popup .popup__piece:nth-child(7) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-30vw, -21vh, 362px) rotateX(332deg) rotateY(323deg);
    -webkit-clip-path: polygon(0 0, 0 100%, 33% 100%);
    clip-path: polygon(0 0, 0 100%, 33% 100%);
}
.popup .popup__piece:nth-child(7) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-11vw, -27vh, -725px) rotateX(191deg) rotateY(257deg);
    -webkit-clip-path: polygon(0 0, 33% 100%, 100% 0);
    clip-path: polygon(0 0, 33% 100%, 100% 0);
}
.popup .popup__piece:nth-child(7) .popup__piece-inner:nth-child(3) {
    transform: translate3d(30vw, -24vh, -575px) rotateX(350deg) rotateY(360deg);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 33% 100%);
    clip-path: polygon(100% 0, 100% 100%, 33% 100%);
}
.popup.s--closed .popup__piece:nth-child(7) {
    transform: translate3d(0, 125vh, 0);
}
.popup.s--closed .popup__piece:nth-child(7) .popup__piece-inner:nth-child(1) {
    transform: translate3d(32vw, 0, 0) rotateX(391deg) rotateY(305deg);
}
.popup.s--closed .popup__piece:nth-child(7) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-56vw, 0, 0) rotateX(424deg) rotateY(219deg);
}
.popup.s--closed .popup__piece:nth-child(7) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-74vw, 0, 0) rotateX(446deg) rotateY(393deg);
}
.popup .popup__piece:nth-child(8) {
    height: 17.6666666667%;
    width: 21.6666666667%;
}
.popup .popup__piece:nth-child(8) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-47vw, -31vh, 337px) rotateX(333deg) rotateY(279deg);
    -webkit-clip-path: polygon(0 0, 0 100%, 64% 100%);
    clip-path: polygon(0 0, 0 100%, 64% 100%);
}
.popup .popup__piece:nth-child(8) .popup__piece-inner:nth-child(2) {
    transform: translate3d(5vw, -29vh, -342px) rotateX(170deg) rotateY(403deg);
    -webkit-clip-path: polygon(0 0, 64% 100%, 100% 0);
    clip-path: polygon(0 0, 64% 100%, 100% 0);
}
.popup .popup__piece:nth-child(8) .popup__piece-inner:nth-child(3) {
    transform: translate3d(14vw, -31vh, -866px) rotateX(277deg) rotateY(442deg);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 64% 100%);
    clip-path: polygon(100% 0, 100% 100%, 64% 100%);
}
.popup.s--closed .popup__piece:nth-child(8) {
    transform: translate3d(0, 134vh, 0);
}
.popup.s--closed .popup__piece:nth-child(8) .popup__piece-inner:nth-child(1) {
    transform: translate3d(62vw, 0, 0) rotateX(398deg) rotateY(478deg);
}
.popup.s--closed .popup__piece:nth-child(8) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-32vw, 0, 0) rotateX(427deg) rotateY(316deg);
}
.popup.s--closed .popup__piece:nth-child(8) .popup__piece-inner:nth-child(3) {
    transform: translate3d(69vw, 0, 0) rotateX(318deg) rotateY(470deg);
}
.popup .popup__piece:nth-child(9) {
    height: 17.6666666667%;
    width: 16.6666666667%;
}
.popup .popup__piece:nth-child(9) .popup__piece-inner:nth-child(1) {
    transform: translate3d(6vw, -3vh, -314px) rotateX(130deg) rotateY(456deg);
    -webkit-clip-path: polygon(0 0, 0 100%, 39% 100%);
    clip-path: polygon(0 0, 0 100%, 39% 100%);
}
.popup .popup__piece:nth-child(9) .popup__piece-inner:nth-child(2) {
    transform: translate3d(27vw, 45vh, -182px) rotateX(353deg) rotateY(284deg);
    -webkit-clip-path: polygon(0 0, 39% 100%, 100% 0);
    clip-path: polygon(0 0, 39% 100%, 100% 0);
}
.popup .popup__piece:nth-child(9) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-24vw, -45vh, 759px) rotateX(194deg) rotateY(165deg);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 39% 100%);
    clip-path: polygon(100% 0, 100% 100%, 39% 100%);
}
.popup.s--closed .popup__piece:nth-child(9) {
    transform: translate3d(0, 132vh, 0);
}
.popup.s--closed .popup__piece:nth-child(9) .popup__piece-inner:nth-child(1) {
    transform: translate3d(34vw, 0, 0) rotateX(180deg) rotateY(275deg);
}
.popup.s--closed .popup__piece:nth-child(9) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-1vw, 0, 0) rotateX(136deg) rotateY(402deg);
}
.popup.s--closed .popup__piece:nth-child(9) .popup__piece-inner:nth-child(3) {
    transform: translate3d(63vw, 0, 0) rotateX(284deg) rotateY(302deg);
}
.popup .popup__piece:nth-child(10) {
    height: 17.6666666667%;
    width: 14.6666666667%;
}
.popup .popup__piece:nth-child(10) .popup__piece-inner:nth-child(1) {
    transform: translate3d(33vw, 42vh, 42px) rotateX(125deg) rotateY(395deg);
    -webkit-clip-path: polygon(0 0, 0 100%, 62% 100%);
    clip-path: polygon(0 0, 0 100%, 62% 100%);
}
.popup .popup__piece:nth-child(10) .popup__piece-inner:nth-child(2) {
    transform: translate3d(8vw, 58vh, -155px) rotateX(380deg) rotateY(194deg);
    -webkit-clip-path: polygon(0 0, 62% 100%, 100% 0);
    clip-path: polygon(0 0, 62% 100%, 100% 0);
}
.popup .popup__piece:nth-child(10) .popup__piece-inner:nth-child(3) {
    transform: translate3d(48vw, -54vh, -702px) rotateX(326deg) rotateY(295deg);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 62% 100%);
    clip-path: polygon(100% 0, 100% 100%, 62% 100%);
}
.popup.s--closed .popup__piece:nth-child(10) {
    transform: translate3d(0, 137vh, 0);
}
.popup.s--closed .popup__piece:nth-child(10) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-45vw, 0, 0) rotateX(291deg) rotateY(339deg);
}
.popup.s--closed .popup__piece:nth-child(10) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-12vw, 0, 0) rotateX(463deg) rotateY(237deg);
}
.popup.s--closed .popup__piece:nth-child(10) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-13vw, 0, 0) rotateX(121deg) rotateY(174deg);
}
.popup .popup__piece:nth-child(11) {
    height: 17.6666666667%;
    width: 11.6666666667%;
}
.popup .popup__piece:nth-child(11) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-57vw, 47vh, -398px) rotateX(434deg) rotateY(313deg);
    -webkit-clip-path: polygon(0 0, 0 100%, 61% 100%);
    clip-path: polygon(0 0, 0 100%, 61% 100%);
}
.popup .popup__piece:nth-child(11) .popup__piece-inner:nth-child(2) {
    transform: translate3d(17vw, 12vh, 630px) rotateX(178deg) rotateY(441deg);
    -webkit-clip-path: polygon(0 0, 61% 100%, 100% 0);
    clip-path: polygon(0 0, 61% 100%, 100% 0);
}
.popup .popup__piece:nth-child(11) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-17vw, -37vh, -642px) rotateX(387deg) rotateY(254deg);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 61% 100%);
    clip-path: polygon(100% 0, 100% 100%, 61% 100%);
}
.popup.s--closed .popup__piece:nth-child(11) {
    transform: translate3d(0, 104vh, 0);
}
.popup.s--closed .popup__piece:nth-child(11) .popup__piece-inner:nth-child(1) {
    transform: translate3d(47vw, 0, 0) rotateX(476deg) rotateY(210deg);
}
.popup.s--closed .popup__piece:nth-child(11) .popup__piece-inner:nth-child(2) {
    transform: translate3d(23vw, 0, 0) rotateX(442deg) rotateY(127deg);
}
.popup.s--closed .popup__piece:nth-child(11) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-75vw, 0, 0) rotateX(357deg) rotateY(465deg);
}
.popup .popup__piece:nth-child(12) {
    height: 17.6666666667%;
    width: 20.6666666667%;
}
.popup .popup__piece:nth-child(12) .popup__piece-inner:nth-child(1) {
    transform: translate3d(49vw, -56vh, -613px) rotateX(242deg) rotateY(235deg);
    -webkit-clip-path: polygon(0 0, 0 100%, 68% 100%);
    clip-path: polygon(0 0, 0 100%, 68% 100%);
}
.popup .popup__piece:nth-child(12) .popup__piece-inner:nth-child(2) {
    transform: translate3d(11vw, 25vh, 671px) rotateX(211deg) rotateY(409deg);
    -webkit-clip-path: polygon(0 0, 68% 100%, 100% 0);
    clip-path: polygon(0 0, 68% 100%, 100% 0);
}
.popup .popup__piece:nth-child(12) .popup__piece-inner:nth-child(3) {
    transform: translate3d(31vw, 41vh, -93px) rotateX(370deg) rotateY(312deg);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 68% 100%);
    clip-path: polygon(100% 0, 100% 100%, 68% 100%);
}
.popup.s--closed .popup__piece:nth-child(12) {
    transform: translate3d(0, 106vh, 0);
}
.popup.s--closed .popup__piece:nth-child(12) .popup__piece-inner:nth-child(1) {
    transform: translate3d(21vw, 0, 0) rotateX(377deg) rotateY(123deg);
}
.popup.s--closed .popup__piece:nth-child(12) .popup__piece-inner:nth-child(2) {
    transform: translate3d(19vw, 0, 0) rotateX(320deg) rotateY(219deg);
}
.popup.s--closed .popup__piece:nth-child(12) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-5vw, 0, 0) rotateX(136deg) rotateY(298deg);
}
.popup .popup__piece:nth-child(13) {
    height: 15.6666666667%;
    width: 15.6666666667%;
}
.popup .popup__piece:nth-child(13) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-53vw, 38vh, -157px) rotateX(296deg) rotateY(290deg);
    -webkit-clip-path: polygon(0 0, 0 100%, 60% 100%);
    clip-path: polygon(0 0, 0 100%, 60% 100%);
}
.popup .popup__piece:nth-child(13) .popup__piece-inner:nth-child(2) {
    transform: translate3d(38vw, 0vh, -696px) rotateX(252deg) rotateY(454deg);
    -webkit-clip-path: polygon(0 0, 60% 100%, 100% 0);
    clip-path: polygon(0 0, 60% 100%, 100% 0);
}
.popup .popup__piece:nth-child(13) .popup__piece-inner:nth-child(3) {
    transform: translate3d(22vw, 57vh, 13px) rotateX(228deg) rotateY(238deg);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 60% 100%);
    clip-path: polygon(100% 0, 100% 100%, 60% 100%);
}
.popup.s--closed .popup__piece:nth-child(13) {
    transform: translate3d(0, 138vh, 0);
}
.popup.s--closed .popup__piece:nth-child(13) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-26vw, 0, 0) rotateX(186deg) rotateY(363deg);
}
.popup.s--closed .popup__piece:nth-child(13) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-78vw, 0, 0) rotateX(215deg) rotateY(297deg);
}
.popup.s--closed .popup__piece:nth-child(13) .popup__piece-inner:nth-child(3) {
    transform: translate3d(52vw, 0, 0) rotateX(313deg) rotateY(473deg);
}
.popup .popup__piece:nth-child(14) {
    height: 15.6666666667%;
    width: 20.6666666667%;
}
.popup .popup__piece:nth-child(14) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-39vw, 34vh, 422px) rotateX(215deg) rotateY(319deg);
    -webkit-clip-path: polygon(0 0, 0 100%, 38% 100%);
    clip-path: polygon(0 0, 0 100%, 38% 100%);
}
.popup .popup__piece:nth-child(14) .popup__piece-inner:nth-child(2) {
    transform: translate3d(37vw, -28vh, -364px) rotateX(260deg) rotateY(210deg);
    -webkit-clip-path: polygon(0 0, 38% 100%, 100% 0);
    clip-path: polygon(0 0, 38% 100%, 100% 0);
}
.popup .popup__piece:nth-child(14) .popup__piece-inner:nth-child(3) {
    transform: translate3d(18vw, 55vh, -771px) rotateX(353deg) rotateY(472deg);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 38% 100%);
    clip-path: polygon(100% 0, 100% 100%, 38% 100%);
}
.popup.s--closed .popup__piece:nth-child(14) {
    transform: translate3d(0, 144vh, 0);
}
.popup.s--closed .popup__piece:nth-child(14) .popup__piece-inner:nth-child(1) {
    transform: translate3d(59vw, 0, 0) rotateX(308deg) rotateY(446deg);
}
.popup.s--closed .popup__piece:nth-child(14) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-9vw, 0, 0) rotateX(247deg) rotateY(190deg);
}
.popup.s--closed .popup__piece:nth-child(14) .popup__piece-inner:nth-child(3) {
    transform: translate3d(68vw, 0, 0) rotateX(222deg) rotateY(173deg);
}
.popup .popup__piece:nth-child(15) {
    height: 15.6666666667%;
    width: 15.6666666667%;
}
.popup .popup__piece:nth-child(15) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-7vw, -17vh, 223px) rotateX(301deg) rotateY(128deg);
    -webkit-clip-path: polygon(0 0, 0 100%, 68% 100%);
    clip-path: polygon(0 0, 0 100%, 68% 100%);
}
.popup .popup__piece:nth-child(15) .popup__piece-inner:nth-child(2) {
    transform: translate3d(60vw, -59vh, -702px) rotateX(280deg) rotateY(248deg);
    -webkit-clip-path: polygon(0 0, 68% 100%, 100% 0);
    clip-path: polygon(0 0, 68% 100%, 100% 0);
}
.popup .popup__piece:nth-child(15) .popup__piece-inner:nth-child(3) {
    transform: translate3d(30vw, 29vh, 437px) rotateX(375deg) rotateY(369deg);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 68% 100%);
    clip-path: polygon(100% 0, 100% 100%, 68% 100%);
}
.popup.s--closed .popup__piece:nth-child(15) {
    transform: translate3d(0, 110vh, 0);
}
.popup.s--closed .popup__piece:nth-child(15) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-9vw, 0, 0) rotateX(202deg) rotateY(394deg);
}
.popup.s--closed .popup__piece:nth-child(15) .popup__piece-inner:nth-child(2) {
    transform: translate3d(11vw, 0, 0) rotateX(411deg) rotateY(337deg);
}
.popup.s--closed .popup__piece:nth-child(15) .popup__piece-inner:nth-child(3) {
    transform: translate3d(76vw, 0, 0) rotateX(149deg) rotateY(128deg);
}
.popup .popup__piece:nth-child(16) {
    height: 15.6666666667%;
    width: 14.6666666667%;
}
.popup .popup__piece:nth-child(16) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-17vw, -56vh, 679px) rotateX(249deg) rotateY(374deg);
    -webkit-clip-path: polygon(0 0, 0 100%, 43% 100%);
    clip-path: polygon(0 0, 0 100%, 43% 100%);
}
.popup .popup__piece:nth-child(16) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-46vw, 49vh, 830px) rotateX(274deg) rotateY(236deg);
    -webkit-clip-path: polygon(0 0, 43% 100%, 100% 0);
    clip-path: polygon(0 0, 43% 100%, 100% 0);
}
.popup .popup__piece:nth-child(16) .popup__piece-inner:nth-child(3) {
    transform: translate3d(41vw, -8vh, 751px) rotateX(422deg) rotateY(426deg);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 43% 100%);
    clip-path: polygon(100% 0, 100% 100%, 43% 100%);
}
.popup.s--closed .popup__piece:nth-child(16) {
    transform: translate3d(0, 133vh, 0);
}
.popup.s--closed .popup__piece:nth-child(16) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-64vw, 0, 0) rotateX(137deg) rotateY(202deg);
}
.popup.s--closed .popup__piece:nth-child(16) .popup__piece-inner:nth-child(2) {
    transform: translate3d(11vw, 0, 0) rotateX(360deg) rotateY(169deg);
}
.popup.s--closed .popup__piece:nth-child(16) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-72vw, 0, 0) rotateX(242deg) rotateY(152deg);
}
.popup .popup__piece:nth-child(17) {
    height: 15.6666666667%;
    width: 20.6666666667%;
}
.popup .popup__piece:nth-child(17) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-3vw, 36vh, -60px) rotateX(179deg) rotateY(203deg);
    -webkit-clip-path: polygon(0 0, 0 100%, 44% 100%);
    clip-path: polygon(0 0, 0 100%, 44% 100%);
}
.popup .popup__piece:nth-child(17) .popup__piece-inner:nth-child(2) {
    transform: translate3d(48vw, -34vh, 147px) rotateX(296deg) rotateY(340deg);
    -webkit-clip-path: polygon(0 0, 44% 100%, 100% 0);
    clip-path: polygon(0 0, 44% 100%, 100% 0);
}
.popup .popup__piece:nth-child(17) .popup__piece-inner:nth-child(3) {
    transform: translate3d(50vw, -9vh, 539px) rotateX(395deg) rotateY(400deg);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 44% 100%);
    clip-path: polygon(100% 0, 100% 100%, 44% 100%);
}
.popup.s--closed .popup__piece:nth-child(17) {
    transform: translate3d(0, 121vh, 0);
}
.popup.s--closed .popup__piece:nth-child(17) .popup__piece-inner:nth-child(1) {
    transform: translate3d(10vw, 0, 0) rotateX(426deg) rotateY(373deg);
}
.popup.s--closed .popup__piece:nth-child(17) .popup__piece-inner:nth-child(2) {
    transform: translate3d(79vw, 0, 0) rotateX(369deg) rotateY(349deg);
}
.popup.s--closed .popup__piece:nth-child(17) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-33vw, 0, 0) rotateX(250deg) rotateY(266deg);
}
.popup .popup__piece:nth-child(18) {
    height: 15.6666666667%;
    width: 12.6666666667%;
}
.popup .popup__piece:nth-child(18) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-7vw, 33vh, 363px) rotateX(449deg) rotateY(339deg);
    -webkit-clip-path: polygon(0 0, 0 100%, 35% 100%);
    clip-path: polygon(0 0, 0 100%, 35% 100%);
}
.popup .popup__piece:nth-child(18) .popup__piece-inner:nth-child(2) {
    transform: translate3d(32vw, 49vh, -772px) rotateX(290deg) rotateY(213deg);
    -webkit-clip-path: polygon(0 0, 35% 100%, 100% 0);
    clip-path: polygon(0 0, 35% 100%, 100% 0);
}
.popup .popup__piece:nth-child(18) .popup__piece-inner:nth-child(3) {
    transform: translate3d(57vw, 52vh, -496px) rotateX(163deg) rotateY(324deg);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 35% 100%);
    clip-path: polygon(100% 0, 100% 100%, 35% 100%);
}
.popup.s--closed .popup__piece:nth-child(18) {
    transform: translate3d(0, 126vh, 0);
}
.popup.s--closed .popup__piece:nth-child(18) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-30vw, 0, 0) rotateX(238deg) rotateY(377deg);
}
.popup.s--closed .popup__piece:nth-child(18) .popup__piece-inner:nth-child(2) {
    transform: translate3d(5vw, 0, 0) rotateX(179deg) rotateY(144deg);
}
.popup.s--closed .popup__piece:nth-child(18) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-38vw, 0, 0) rotateX(182deg) rotateY(184deg);
}
.popup .popup__piece:nth-child(19) {
    height: 15.6666666667%;
    width: 21.6666666667%;
}
.popup .popup__piece:nth-child(19) .popup__piece-inner:nth-child(1) {
    transform: translate3d(22vw, -43vh, 667px) rotateX(169deg) rotateY(250deg);
    -webkit-clip-path: polygon(0 0, 0 100%, 57% 100%);
    clip-path: polygon(0 0, 0 100%, 57% 100%);
}
.popup .popup__piece:nth-child(19) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-6vw, -9vh, 628px) rotateX(251deg) rotateY(185deg);
    -webkit-clip-path: polygon(0 0, 57% 100%, 100% 0);
    clip-path: polygon(0 0, 57% 100%, 100% 0);
}
.popup .popup__piece:nth-child(19) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-49vw, -4vh, -596px) rotateX(420deg) rotateY(285deg);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 57% 100%);
    clip-path: polygon(100% 0, 100% 100%, 57% 100%);
}
.popup.s--closed .popup__piece:nth-child(19) {
    transform: translate3d(0, 131vh, 0);
}
.popup.s--closed .popup__piece:nth-child(19) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-19vw, 0, 0) rotateX(283deg) rotateY(220deg);
}
.popup.s--closed .popup__piece:nth-child(19) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-42vw, 0, 0) rotateX(337deg) rotateY(208deg);
}
.popup.s--closed .popup__piece:nth-child(19) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-44vw, 0, 0) rotateX(308deg) rotateY(137deg);
}
.popup .popup__piece:nth-child(20) {
    height: 15.6666666667%;
    width: 19.6666666667%;
}
.popup .popup__piece:nth-child(20) .popup__piece-inner:nth-child(1) {
    transform: translate3d(34vw, -34vh, 492px) rotateX(131deg) rotateY(262deg);
    -webkit-clip-path: polygon(0 0, 0 100%, 41% 100%);
    clip-path: polygon(0 0, 0 100%, 41% 100%);
}
.popup .popup__piece:nth-child(20) .popup__piece-inner:nth-child(2) {
    transform: translate3d(19vw, -12vh, 761px) rotateX(293deg) rotateY(249deg);
    -webkit-clip-path: polygon(0 0, 41% 100%, 100% 0);
    clip-path: polygon(0 0, 41% 100%, 100% 0);
}
.popup .popup__piece:nth-child(20) .popup__piece-inner:nth-child(3) {
    transform: translate3d(16vw, 7vh, 656px) rotateX(216deg) rotateY(276deg);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 41% 100%);
    clip-path: polygon(100% 0, 100% 100%, 41% 100%);
}
.popup.s--closed .popup__piece:nth-child(20) {
    transform: translate3d(0, 140vh, 0);
}
.popup.s--closed .popup__piece:nth-child(20) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-19vw, 0, 0) rotateX(423deg) rotateY(167deg);
}
.popup.s--closed .popup__piece:nth-child(20) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-74vw, 0, 0) rotateX(195deg) rotateY(140deg);
}
.popup.s--closed .popup__piece:nth-child(20) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-21vw, 0, 0) rotateX(421deg) rotateY(347deg);
}
.popup .popup__piece:nth-child(21) {
    height: 15.6666666667%;
    width: 16.6666666667%;
}
.popup .popup__piece:nth-child(21) .popup__piece-inner:nth-child(1) {
    transform: translate3d(42vw, -18vh, 12px) rotateX(378deg) rotateY(468deg);
    -webkit-clip-path: polygon(0 0, 0 100%, 49% 100%);
    clip-path: polygon(0 0, 0 100%, 49% 100%);
}
.popup .popup__piece:nth-child(21) .popup__piece-inner:nth-child(2) {
    transform: translate3d(48vw, 36vh, 134px) rotateX(479deg) rotateY(347deg);
    -webkit-clip-path: polygon(0 0, 49% 100%, 100% 0);
    clip-path: polygon(0 0, 49% 100%, 100% 0);
}
.popup .popup__piece:nth-child(21) .popup__piece-inner:nth-child(3) {
    transform: translate3d(47vw, 42vh, -227px) rotateX(236deg) rotateY(236deg);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 49% 100%);
    clip-path: polygon(100% 0, 100% 100%, 49% 100%);
}
.popup.s--closed .popup__piece:nth-child(21) {
    transform: translate3d(0, 140vh, 0);
}
.popup.s--closed .popup__piece:nth-child(21) .popup__piece-inner:nth-child(1) {
    transform: translate3d(73vw, 0, 0) rotateX(213deg) rotateY(402deg);
}
.popup.s--closed .popup__piece:nth-child(21) .popup__piece-inner:nth-child(2) {
    transform: translate3d(78vw, 0, 0) rotateX(175deg) rotateY(251deg);
}
.popup.s--closed .popup__piece:nth-child(21) .popup__piece-inner:nth-child(3) {
    transform: translate3d(63vw, 0, 0) rotateX(216deg) rotateY(160deg);
}
.popup .popup__piece:nth-child(22) {
    height: 15.6666666667%;
    width: 19.6666666667%;
}
.popup .popup__piece:nth-child(22) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-41vw, 15vh, -207px) rotateX(462deg) rotateY(176deg);
    -webkit-clip-path: polygon(0 0, 0 100%, 50% 100%);
    clip-path: polygon(0 0, 0 100%, 50% 100%);
}
.popup .popup__piece:nth-child(22) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-28vw, 0vh, -527px) rotateX(402deg) rotateY(162deg);
    -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
    clip-path: polygon(0 0, 50% 100%, 100% 0);
}
.popup .popup__piece:nth-child(22) .popup__piece-inner:nth-child(3) {
    transform: translate3d(21vw, -1vh, -224px) rotateX(416deg) rotateY(364deg);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 100%);
    clip-path: polygon(100% 0, 100% 100%, 50% 100%);
}
.popup.s--closed .popup__piece:nth-child(22) {
    transform: translate3d(0, 149vh, 0);
}
.popup.s--closed .popup__piece:nth-child(22) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-6vw, 0, 0) rotateX(468deg) rotateY(336deg);
}
.popup.s--closed .popup__piece:nth-child(22) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-7vw, 0, 0) rotateX(164deg) rotateY(279deg);
}
.popup.s--closed .popup__piece:nth-child(22) .popup__piece-inner:nth-child(3) {
    transform: translate3d(72vw, 0, 0) rotateX(441deg) rotateY(237deg);
}
.popup .popup__piece:nth-child(23) {
    height: 15.6666666667%;
    width: 5.6666666667%;
}
.popup .popup__piece:nth-child(23) .popup__piece-inner:nth-child(1) {
    transform: translate3d(48vw, -36vh, 390px) rotateX(402deg) rotateY(365deg);
    -webkit-clip-path: polygon(0 0, 0 100%, 42% 100%);
    clip-path: polygon(0 0, 0 100%, 42% 100%);
}
.popup .popup__piece:nth-child(23) .popup__piece-inner:nth-child(2) {
    transform: translate3d(42vw, 25vh, 316px) rotateX(231deg) rotateY(274deg);
    -webkit-clip-path: polygon(0 0, 42% 100%, 100% 0);
    clip-path: polygon(0 0, 42% 100%, 100% 0);
}
.popup .popup__piece:nth-child(23) .popup__piece-inner:nth-child(3) {
    transform: translate3d(11vw, -55vh, -16px) rotateX(135deg) rotateY(242deg);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 42% 100%);
    clip-path: polygon(100% 0, 100% 100%, 42% 100%);
}
.popup.s--closed .popup__piece:nth-child(23) {
    transform: translate3d(0, 146vh, 0);
}
.popup.s--closed .popup__piece:nth-child(23) .popup__piece-inner:nth-child(1) {
    transform: translate3d(24vw, 0, 0) rotateX(135deg) rotateY(209deg);
}
.popup.s--closed .popup__piece:nth-child(23) .popup__piece-inner:nth-child(2) {
    transform: translate3d(21vw, 0, 0) rotateX(144deg) rotateY(310deg);
}
.popup.s--closed .popup__piece:nth-child(23) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-49vw, 0, 0) rotateX(236deg) rotateY(201deg);
}
.popup .popup__piece:nth-child(24) {
    height: 15.6666666667%;
    width: 16.6666666667%;
}
.popup .popup__piece:nth-child(24) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-58vw, 17vh, -611px) rotateX(220deg) rotateY(448deg);
    -webkit-clip-path: polygon(0 0, 0 100%, 53% 100%);
    clip-path: polygon(0 0, 0 100%, 53% 100%);
}
.popup .popup__piece:nth-child(24) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-50vw, -39vh, 857px) rotateX(434deg) rotateY(478deg);
    -webkit-clip-path: polygon(0 0, 53% 100%, 100% 0);
    clip-path: polygon(0 0, 53% 100%, 100% 0);
}
.popup .popup__piece:nth-child(24) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-12vw, -5vh, -866px) rotateX(387deg) rotateY(376deg);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 53% 100%);
    clip-path: polygon(100% 0, 100% 100%, 53% 100%);
}
.popup.s--closed .popup__piece:nth-child(24) {
    transform: translate3d(0, 149vh, 0);
}
.popup.s--closed .popup__piece:nth-child(24) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-12vw, 0, 0) rotateX(261deg) rotateY(321deg);
}
.popup.s--closed .popup__piece:nth-child(24) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-28vw, 0, 0) rotateX(338deg) rotateY(194deg);
}
.popup.s--closed .popup__piece:nth-child(24) .popup__piece-inner:nth-child(3) {
    transform: translate3d(73vw, 0, 0) rotateX(122deg) rotateY(309deg);
}
.popup .popup__piece:nth-child(25) {
    height: 17.6666666667%;
    width: 14.6666666667%;
}
.popup .popup__piece:nth-child(25) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-49vw, 45vh, 622px) rotateX(454deg) rotateY(215deg);
    -webkit-clip-path: polygon(0 0, 0 100%, 32% 100%);
    clip-path: polygon(0 0, 0 100%, 32% 100%);
}
.popup .popup__piece:nth-child(25) .popup__piece-inner:nth-child(2) {
    transform: translate3d(12vw, 2vh, -219px) rotateX(147deg) rotateY(331deg);
    -webkit-clip-path: polygon(0 0, 32% 100%, 100% 0);
    clip-path: polygon(0 0, 32% 100%, 100% 0);
}
.popup .popup__piece:nth-child(25) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-19vw, 42vh, -308px) rotateX(332deg) rotateY(377deg);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 32% 100%);
    clip-path: polygon(100% 0, 100% 100%, 32% 100%);
}
.popup.s--closed .popup__piece:nth-child(25) {
    transform: translate3d(0, 131vh, 0);
}
.popup.s--closed .popup__piece:nth-child(25) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-76vw, 0, 0) rotateX(125deg) rotateY(164deg);
}
.popup.s--closed .popup__piece:nth-child(25) .popup__piece-inner:nth-child(2) {
    transform: translate3d(32vw, 0, 0) rotateX(348deg) rotateY(436deg);
}
.popup.s--closed .popup__piece:nth-child(25) .popup__piece-inner:nth-child(3) {
    transform: translate3d(68vw, 0, 0) rotateX(245deg) rotateY(420deg);
}
.popup .popup__piece:nth-child(26) {
    height: 17.6666666667%;
    width: 21.6666666667%;
}
.popup .popup__piece:nth-child(26) .popup__piece-inner:nth-child(1) {
    transform: translate3d(43vw, -42vh, -239px) rotateX(463deg) rotateY(300deg);
    -webkit-clip-path: polygon(0 0, 0 100%, 36% 100%);
    clip-path: polygon(0 0, 0 100%, 36% 100%);
}
.popup .popup__piece:nth-child(26) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-54vw, 32vh, 443px) rotateX(446deg) rotateY(224deg);
    -webkit-clip-path: polygon(0 0, 36% 100%, 100% 0);
    clip-path: polygon(0 0, 36% 100%, 100% 0);
}
.popup .popup__piece:nth-child(26) .popup__piece-inner:nth-child(3) {
    transform: translate3d(50vw, -28vh, 802px) rotateX(265deg) rotateY(382deg);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 36% 100%);
    clip-path: polygon(100% 0, 100% 100%, 36% 100%);
}
.popup.s--closed .popup__piece:nth-child(26) {
    transform: translate3d(0, 136vh, 0);
}
.popup.s--closed .popup__piece:nth-child(26) .popup__piece-inner:nth-child(1) {
    transform: translate3d(0vw, 0, 0) rotateX(339deg) rotateY(285deg);
}
.popup.s--closed .popup__piece:nth-child(26) .popup__piece-inner:nth-child(2) {
    transform: translate3d(8vw, 0, 0) rotateX(473deg) rotateY(362deg);
}
.popup.s--closed .popup__piece:nth-child(26) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-4vw, 0, 0) rotateX(285deg) rotateY(420deg);
}
.popup .popup__piece:nth-child(27) {
    height: 17.6666666667%;
    width: 21.6666666667%;
}
.popup .popup__piece:nth-child(27) .popup__piece-inner:nth-child(1) {
    transform: translate3d(4vw, 41vh, -235px) rotateX(362deg) rotateY(334deg);
    -webkit-clip-path: polygon(0 0, 0 100%, 64% 100%);
    clip-path: polygon(0 0, 0 100%, 64% 100%);
}
.popup .popup__piece:nth-child(27) .popup__piece-inner:nth-child(2) {
    transform: translate3d(28vw, -23vh, 518px) rotateX(325deg) rotateY(223deg);
    -webkit-clip-path: polygon(0 0, 64% 100%, 100% 0);
    clip-path: polygon(0 0, 64% 100%, 100% 0);
}
.popup .popup__piece:nth-child(27) .popup__piece-inner:nth-child(3) {
    transform: translate3d(25vw, -43vh, 602px) rotateX(214deg) rotateY(254deg);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 64% 100%);
    clip-path: polygon(100% 0, 100% 100%, 64% 100%);
}
.popup.s--closed .popup__piece:nth-child(27) {
    transform: translate3d(0, 133vh, 0);
}
.popup.s--closed .popup__piece:nth-child(27) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-7vw, 0, 0) rotateX(399deg) rotateY(440deg);
}
.popup.s--closed .popup__piece:nth-child(27) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-56vw, 0, 0) rotateX(245deg) rotateY(198deg);
}
.popup.s--closed .popup__piece:nth-child(27) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-42vw, 0, 0) rotateX(299deg) rotateY(156deg);
}
.popup .popup__piece:nth-child(28) {
    height: 17.6666666667%;
    width: 12.6666666667%;
}
.popup .popup__piece:nth-child(28) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-5vw, -7vh, 516px) rotateX(211deg) rotateY(282deg);
    -webkit-clip-path: polygon(0 0, 0 100%, 46% 100%);
    clip-path: polygon(0 0, 0 100%, 46% 100%);
}
.popup .popup__piece:nth-child(28) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-16vw, 16vh, -839px) rotateX(313deg) rotateY(424deg);
    -webkit-clip-path: polygon(0 0, 46% 100%, 100% 0);
    clip-path: polygon(0 0, 46% 100%, 100% 0);
}
.popup .popup__piece:nth-child(28) .popup__piece-inner:nth-child(3) {
    transform: translate3d(48vw, -35vh, 583px) rotateX(344deg) rotateY(433deg);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 46% 100%);
    clip-path: polygon(100% 0, 100% 100%, 46% 100%);
}
.popup.s--closed .popup__piece:nth-child(28) {
    transform: translate3d(0, 123vh, 0);
}
.popup.s--closed .popup__piece:nth-child(28) .popup__piece-inner:nth-child(1) {
    transform: translate3d(48vw, 0, 0) rotateX(382deg) rotateY(249deg);
}
.popup.s--closed .popup__piece:nth-child(28) .popup__piece-inner:nth-child(2) {
    transform: translate3d(22vw, 0, 0) rotateX(474deg) rotateY(262deg);
}
.popup.s--closed .popup__piece:nth-child(28) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-42vw, 0, 0) rotateX(169deg) rotateY(173deg);
}
.popup .popup__piece:nth-child(29) {
    height: 17.6666666667%;
    width: 8.6666666667%;
}
.popup .popup__piece:nth-child(29) .popup__piece-inner:nth-child(1) {
    transform: translate3d(9vw, 14vh, 511px) rotateX(247deg) rotateY(314deg);
    -webkit-clip-path: polygon(0 0, 0 100%, 42% 100%);
    clip-path: polygon(0 0, 0 100%, 42% 100%);
}
.popup .popup__piece:nth-child(29) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-45vw, -50vh, -675px) rotateX(412deg) rotateY(335deg);
    -webkit-clip-path: polygon(0 0, 42% 100%, 100% 0);
    clip-path: polygon(0 0, 42% 100%, 100% 0);
}
.popup .popup__piece:nth-child(29) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-37vw, -5vh, -706px) rotateX(372deg) rotateY(154deg);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 42% 100%);
    clip-path: polygon(100% 0, 100% 100%, 42% 100%);
}
.popup.s--closed .popup__piece:nth-child(29) {
    transform: translate3d(0, 108vh, 0);
}
.popup.s--closed .popup__piece:nth-child(29) .popup__piece-inner:nth-child(1) {
    transform: translate3d(28vw, 0, 0) rotateX(418deg) rotateY(201deg);
}
.popup.s--closed .popup__piece:nth-child(29) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-19vw, 0, 0) rotateX(254deg) rotateY(265deg);
}
.popup.s--closed .popup__piece:nth-child(29) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-22vw, 0, 0) rotateX(280deg) rotateY(429deg);
}
.popup .popup__piece:nth-child(30) {
    height: 17.6666666667%;
    width: 20.6666666667%;
}
.popup .popup__piece:nth-child(30) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-42vw, 7vh, 205px) rotateX(318deg) rotateY(379deg);
    -webkit-clip-path: polygon(0 0, 0 100%, 64% 100%);
    clip-path: polygon(0 0, 0 100%, 64% 100%);
}
.popup .popup__piece:nth-child(30) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-20vw, -57vh, 563px) rotateX(266deg) rotateY(231deg);
    -webkit-clip-path: polygon(0 0, 64% 100%, 100% 0);
    clip-path: polygon(0 0, 64% 100%, 100% 0);
}
.popup .popup__piece:nth-child(30) .popup__piece-inner:nth-child(3) {
    transform: translate3d(44vw, 18vh, 554px) rotateX(274deg) rotateY(291deg);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 64% 100%);
    clip-path: polygon(100% 0, 100% 100%, 64% 100%);
}
.popup.s--closed .popup__piece:nth-child(30) {
    transform: translate3d(0, 118vh, 0);
}
.popup.s--closed .popup__piece:nth-child(30) .popup__piece-inner:nth-child(1) {
    transform: translate3d(71vw, 0, 0) rotateX(142deg) rotateY(423deg);
}
.popup.s--closed .popup__piece:nth-child(30) .popup__piece-inner:nth-child(2) {
    transform: translate3d(74vw, 0, 0) rotateX(193deg) rotateY(425deg);
}
.popup.s--closed .popup__piece:nth-child(30) .popup__piece-inner:nth-child(3) {
    transform: translate3d(39vw, 0, 0) rotateX(259deg) rotateY(451deg);
}
.popup .popup__piece:nth-child(31) {
    height: 14.6666666667%;
    width: 21.6666666667%;
}
.popup .popup__piece:nth-child(31) .popup__piece-inner:nth-child(1) {
    transform: translate3d(13vw, 13vh, 812px) rotateX(217deg) rotateY(407deg);
    -webkit-clip-path: polygon(0 0, 0 100%, 61% 100%);
    clip-path: polygon(0 0, 0 100%, 61% 100%);
}
.popup .popup__piece:nth-child(31) .popup__piece-inner:nth-child(2) {
    transform: translate3d(20vw, -46vh, -387px) rotateX(235deg) rotateY(467deg);
    -webkit-clip-path: polygon(0 0, 61% 100%, 100% 0);
    clip-path: polygon(0 0, 61% 100%, 100% 0);
}
.popup .popup__piece:nth-child(31) .popup__piece-inner:nth-child(3) {
    transform: translate3d(14vw, 5vh, 687px) rotateX(438deg) rotateY(166deg);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 61% 100%);
    clip-path: polygon(100% 0, 100% 100%, 61% 100%);
}
.popup.s--closed .popup__piece:nth-child(31) {
    transform: translate3d(0, 101vh, 0);
}
.popup.s--closed .popup__piece:nth-child(31) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-15vw, 0, 0) rotateX(350deg) rotateY(447deg);
}
.popup.s--closed .popup__piece:nth-child(31) .popup__piece-inner:nth-child(2) {
    transform: translate3d(16vw, 0, 0) rotateX(128deg) rotateY(315deg);
}
.popup.s--closed .popup__piece:nth-child(31) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-29vw, 0, 0) rotateX(365deg) rotateY(407deg);
}
.popup .popup__piece:nth-child(32) {
    height: 14.6666666667%;
    width: 12.6666666667%;
}
.popup .popup__piece:nth-child(32) .popup__piece-inner:nth-child(1) {
    transform: translate3d(9vw, -39vh, 896px) rotateX(249deg) rotateY(158deg);
    -webkit-clip-path: polygon(0 0, 0 100%, 62% 100%);
    clip-path: polygon(0 0, 0 100%, 62% 100%);
}
.popup .popup__piece:nth-child(32) .popup__piece-inner:nth-child(2) {
    transform: translate3d(1vw, -41vh, -592px) rotateX(255deg) rotateY(479deg);
    -webkit-clip-path: polygon(0 0, 62% 100%, 100% 0);
    clip-path: polygon(0 0, 62% 100%, 100% 0);
}
.popup .popup__piece:nth-child(32) .popup__piece-inner:nth-child(3) {
    transform: translate3d(15vw, 2vh, -629px) rotateX(123deg) rotateY(322deg);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 62% 100%);
    clip-path: polygon(100% 0, 100% 100%, 62% 100%);
}
.popup.s--closed .popup__piece:nth-child(32) {
    transform: translate3d(0, 134vh, 0);
}
.popup.s--closed .popup__piece:nth-child(32) .popup__piece-inner:nth-child(1) {
    transform: translate3d(47vw, 0, 0) rotateX(454deg) rotateY(220deg);
}
.popup.s--closed .popup__piece:nth-child(32) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-38vw, 0, 0) rotateX(462deg) rotateY(244deg);
}
.popup.s--closed .popup__piece:nth-child(32) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-57vw, 0, 0) rotateX(426deg) rotateY(316deg);
}
.popup .popup__piece:nth-child(33) {
    height: 14.6666666667%;
    width: 13.6666666667%;
}
.popup .popup__piece:nth-child(33) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-43vw, -8vh, 299px) rotateX(420deg) rotateY(378deg);
    -webkit-clip-path: polygon(0 0, 0 100%, 32% 100%);
    clip-path: polygon(0 0, 0 100%, 32% 100%);
}
.popup .popup__piece:nth-child(33) .popup__piece-inner:nth-child(2) {
    transform: translate3d(24vw, 28vh, -439px) rotateX(479deg) rotateY(189deg);
    -webkit-clip-path: polygon(0 0, 32% 100%, 100% 0);
    clip-path: polygon(0 0, 32% 100%, 100% 0);
}
.popup .popup__piece:nth-child(33) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-22vw, -34vh, 148px) rotateX(375deg) rotateY(205deg);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 32% 100%);
    clip-path: polygon(100% 0, 100% 100%, 32% 100%);
}
.popup.s--closed .popup__piece:nth-child(33) {
    transform: translate3d(0, 144vh, 0);
}
.popup.s--closed .popup__piece:nth-child(33) .popup__piece-inner:nth-child(1) {
    transform: translate3d(25vw, 0, 0) rotateX(323deg) rotateY(159deg);
}
.popup.s--closed .popup__piece:nth-child(33) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-13vw, 0, 0) rotateX(321deg) rotateY(210deg);
}
.popup.s--closed .popup__piece:nth-child(33) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-75vw, 0, 0) rotateX(361deg) rotateY(278deg);
}
.popup .popup__piece:nth-child(34) {
    height: 14.6666666667%;
    width: 13.6666666667%;
}
.popup .popup__piece:nth-child(34) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-23vw, 9vh, 367px) rotateX(263deg) rotateY(359deg);
    -webkit-clip-path: polygon(0 0, 0 100%, 64% 100%);
    clip-path: polygon(0 0, 0 100%, 64% 100%);
}
.popup .popup__piece:nth-child(34) .popup__piece-inner:nth-child(2) {
    transform: translate3d(59vw, 49vh, 291px) rotateX(335deg) rotateY(174deg);
    -webkit-clip-path: polygon(0 0, 64% 100%, 100% 0);
    clip-path: polygon(0 0, 64% 100%, 100% 0);
}
.popup .popup__piece:nth-child(34) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-10vw, 28vh, 899px) rotateX(231deg) rotateY(247deg);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 64% 100%);
    clip-path: polygon(100% 0, 100% 100%, 64% 100%);
}
.popup.s--closed .popup__piece:nth-child(34) {
    transform: translate3d(0, 101vh, 0);
}
.popup.s--closed .popup__piece:nth-child(34) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-11vw, 0, 0) rotateX(270deg) rotateY(348deg);
}
.popup.s--closed .popup__piece:nth-child(34) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-26vw, 0, 0) rotateX(470deg) rotateY(247deg);
}
.popup.s--closed .popup__piece:nth-child(34) .popup__piece-inner:nth-child(3) {
    transform: translate3d(55vw, 0, 0) rotateX(322deg) rotateY(423deg);
}
.popup .popup__piece:nth-child(35) {
    height: 14.6666666667%;
    width: 22.6666666667%;
}
.popup .popup__piece:nth-child(35) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-49vw, 1vh, 828px) rotateX(275deg) rotateY(200deg);
    -webkit-clip-path: polygon(0 0, 0 100%, 41% 100%);
    clip-path: polygon(0 0, 0 100%, 41% 100%);
}
.popup .popup__piece:nth-child(35) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-37vw, 1vh, 191px) rotateX(155deg) rotateY(169deg);
    -webkit-clip-path: polygon(0 0, 41% 100%, 100% 0);
    clip-path: polygon(0 0, 41% 100%, 100% 0);
}
.popup .popup__piece:nth-child(35) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-16vw, -40vh, 591px) rotateX(326deg) rotateY(429deg);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 41% 100%);
    clip-path: polygon(100% 0, 100% 100%, 41% 100%);
}
.popup.s--closed .popup__piece:nth-child(35) {
    transform: translate3d(0, 145vh, 0);
}
.popup.s--closed .popup__piece:nth-child(35) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-58vw, 0, 0) rotateX(360deg) rotateY(262deg);
}
.popup.s--closed .popup__piece:nth-child(35) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-30vw, 0, 0) rotateX(461deg) rotateY(348deg);
}
.popup.s--closed .popup__piece:nth-child(35) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-7vw, 0, 0) rotateX(150deg) rotateY(443deg);
}
.popup .popup__piece:nth-child(36) {
    height: 14.6666666667%;
    width: 15.6666666667%;
}
.popup .popup__piece:nth-child(36) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-51vw, 41vh, -734px) rotateX(372deg) rotateY(402deg);
    -webkit-clip-path: polygon(0 0, 0 100%, 66% 100%);
    clip-path: polygon(0 0, 0 100%, 66% 100%);
}
.popup .popup__piece:nth-child(36) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-9vw, 50vh, 617px) rotateX(324deg) rotateY(448deg);
    -webkit-clip-path: polygon(0 0, 66% 100%, 100% 0);
    clip-path: polygon(0 0, 66% 100%, 100% 0);
}
.popup .popup__piece:nth-child(36) .popup__piece-inner:nth-child(3) {
    transform: translate3d(32vw, -15vh, -237px) rotateX(186deg) rotateY(357deg);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 66% 100%);
    clip-path: polygon(100% 0, 100% 100%, 66% 100%);
}
.popup.s--closed .popup__piece:nth-child(36) {
    transform: translate3d(0, 108vh, 0);
}
.popup.s--closed .popup__piece:nth-child(36) .popup__piece-inner:nth-child(1) {
    transform: translate3d(15vw, 0, 0) rotateX(163deg) rotateY(371deg);
}
.popup.s--closed .popup__piece:nth-child(36) .popup__piece-inner:nth-child(2) {
    transform: translate3d(53vw, 0, 0) rotateX(136deg) rotateY(202deg);
}
.popup.s--closed .popup__piece:nth-child(36) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-36vw, 0, 0) rotateX(246deg) rotateY(470deg);
}
.popup__pieces {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.popup__piece {
    float: left;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0s 0s;
}
.popup.s--closed .popup__piece {
    transition: transform 0.7s 0.1s cubic-bezier(0.69, -0.47, 0.97, 1.04);
}
.popup__piece:after {
    content: "";
    display: table;
    clear: both;
}
.popup__piece-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.28s 0.55s ease-in, transform 0.7s 0.1s ease-out;
}
.popup.s--active .popup__piece-inner {
    transition: opacity 0.35s, transform 0.7s ease-in-out;
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) !important;
    opacity: 1;
}
.popup__content {
    margin: -13px;
    position: relative;
    min-height: 500px;
    padding: 30px;
    background: #1a1a1a;
    border-radius: 20px;
    color: #fff;
    transition: opacity 0.2s;
    opacity: 0;
    box-shadow: 0px 0px 35px #0a0a0a;
}
.popup.s--active .popup__content {
    transition-delay: 0.6s;
    opacity: 1;
}
.popup__close {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.popup__close:before, .popup__close:after {
    content: "";
    position: absolute;
    left: 0;
    top: 14px;
    width: 100%;
    height: 2px;
    background: #fff;
}
.popup__close:before {
    transform: rotate(45deg);
}
.popup__close:after {
    transform: rotate(-45deg);
}
.popup__heading {
    margin-bottom: 20px;
    font-size: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.popup__text {
    /*font-size: 18px;*/
    line-height: 1.5;
}
.popup__text{
    font-size: 15px;
}

.popup__text a{
    color: #0049ee;
}

.popup__text a:hover{
    color: #0049ee;
    text-decoration: underline;
}

.popup__text a:not([href]):not([tabindex]){
    color: #0049ee;
}

@media (max-width: 415px){
    .popup__heading {
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
    }

}