body.light .popup__content {
    margin: -13px;
    position: relative;
    min-height: 500px;
    padding: 30px;
    background: white;
    border-radius: 20px;
    color: #2a2a2a;
    transition: opacity 0.2s;
    opacity: 0;
    box-shadow: 0px 0px 100px #959595;
}
body.light .popup__close:before, body.light .popup__close:after {
    background: #000;
}