body.light #projet {
    border: 2px solid #f3f6fd;
    background-color: #f3f6fd;
    color: #2a2a2a;
}

body.light #projet li{
    color: white;
}

@media (max-width: 800px) {
    body.light #projet li{
        color: black;
    }
}

/* body.light #projet .btn {
    background-color: rgb(13 14 52);
    color: white;
}

body.light #projet .btn:hover {
    background-color: rgb(23 25 98);
    color: white;
}

body.light #projet .icon {
    filter: invert(100%);
} */