body.light #service-start {
    border: 2px solid #f3f6fd;
    background-color: #f3f6fd;
    color: #2a2a2a;
}

body.light #service-start-but {
    border: 2px solid #f3f6fd;
    background-color: #f3f6fd;
    color: #2a2a2a;
}

body.light #service-second{
    text-align: center;
    border: 2px solid #f3f6fd;
    padding: 20px 60px 0;
    color: #2a2a2a;
}
body.light .panel {
    background-color: white;
    box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
}
body.light .pricing-plan {
    border-bottom: 1px solid #b5b5b5;
}

body.light .pricing-plan:last-child {
    border-bottom: none;
}

@media (min-width: 900px) {
    body.light .pricing-plan {
        border-bottom: none;
        border-right: 1px solid #b5b5b5;
    }

    body.light .pricing-plan:last-child {
        border-right: none;
    }
}

body.light .pricing-header {
    color: #2a2a2a;
}

body.light .pricing-features-item {
    border-top: 1px solid #b5b5b5;
    color: #363636;
}
body.light .pricing-features-item:last-child {
    border-bottom: 1px solid #b5b5b5;
}

body.light #service-solidserv div.container {
    background-color: white;
    box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
}

body.light #service-solidserv div.container div.col-5 {
    box-shadow: unset;
}

body.light #service-solidserv-fleche::before {
    border-color: transparent transparent white transparent;
}