body.light #service-start {
    border: 2px solid transparent;
    background-color: transparent;
    color: #2a2a2a;
}

body.light #service-start-but {
    border: 2px solid #f3f6fd;
    background-color: #f3f6fd;
    color: #2a2a2a;
}

body.light #service-second{
    text-align: center;
    border: 2px solid #f3f6fd;
    padding: 20px 60px 0;
    color: #2a2a2a;
}
body.light .panel {
    background-color: white;
    box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
}
body.light .pricing-plan {
    border-bottom: 1px solid #b5b5b5;
}

body.light .pricing-plan:last-child {
    border-bottom: none;
}

@media (min-width: 900px) {
    body.light .pricing-plan {
        border-bottom: none;
        border-right: 1px solid #b5b5b5;
    }

    body.light .pricing-plan:last-child {
        border-right: none;
    }
}

body.light .pricing-header {
    color: #2a2a2a;
}

body.light .pricing-features-item {
    border-top: 1px solid #b5b5b5;
    color: #363636;
}
body.light .pricing-features-item:last-child {
    border-bottom: 1px solid #b5b5b5;
}

body.light #service-solidserv div.container {
    background-color: white;
    box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
}

body.light #service-solidserv div.container div.col-5 {
    box-shadow: unset;
}

body.light #service-solidserv-fleche::before {
    border-color: transparent transparent white transparent;
}

/*******************
* WEB SITE
********************/

body.light #MyRéalisation{
    max-width: 1279px;
    margin-bottom: 50px;
    margin-top: 50px;
}

body.light #mysiteGalery{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

body.light #mysiteGalery .card-site {
    --font-color: #323232;
    --bg-color: #ffffff;
    width: 250px;
    height: 350px;
    border-radius: 20px;
    background: var(--bg-color);
    box-shadow: -9px 9px 18px #0000002b;
    display: flex;
    flex-direction: column;
    transition: .4s;
    position: relative;
    margin: 30px;
}

body.light #mysiteGalery .card-site:hover {
    transform: scale(1.02);  box-shadow: 0px 0px 10px 2px #00000045;
}

body.light #mysiteGalery .card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    background-color: blueviolet;
    background-size: cover;;
    background-position: top center;
}

body.light #mysiteGalery .card__descr-wrapper {
    padding: 15px;
    display: grid;
    box-shadow: 0 -2px 6px 0 rgba(136, 148, 171, 0.2), 0 -24px 20px -24px rgba(71, 82, 107, 0.1);

}

body.light #mysiteGalery .card__title {
    color: var(--font-color);
    text-align: center;
    margin-bottom: 15px;
    font-weight: 900;
    font-size: 16px;
}

body.light #mysiteGalery .card__descr {
    color: var(--font-color);
    font-family: unset;
    font-size: unset;
    text-align: unset;
}

body.light #mysiteGalery .svg {
    width: 25px;
    height: 25px;
    transform: translateY(25%);
    fill: var(--font-color);
    vertical-align: unset;
}

body.light #mysiteGalery .card__links {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
}

body.light #mysiteGalery .card__links .link {
    color: var(--font-color);
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
}

body.light #mysiteGalery .card__links .link:hover {
    text-decoration: underline;
}

body.light main#service{
    background-color: #f3f6fd;
}
body.light #mc-heading{
    background-image: url("https://tyrolium.fr/Contenu/Image/Background9.png");
    background-position: center -283px;
    height: 300px !important;
}