#service-start {
    text-align: center;
    border: 2px solid #131313;
    padding: 0px 20px 0;
    background-color: #131313;
    color: white;
}
#service-start p {
    font-size: 15px;
}
#service-start-but {
    text-align: center;
    border: 2px solid #131313;
    padding: 16px 20px 0;
    background-color: #131313;
    color: white;
}

#service-second{
    text-align: center;
    border: 2px solid #131313;
    padding: 20px 60px 0;
    color: white;
}

#service-second-but{
    text-align: center;
    padding: 50px 60px 0;
}

.service-page {
    font-family: 'Open Sans', sans-serif;
}

.container-serv {
    max-width: 960px;
}

.panel {
    background-color: #282828;
    border-radius: 10px;
    padding: 15px 25px;
    position: relative;
    width: 100%;
    z-index: 10;
}

.pricing-table {
    display: flex;
    flex-direction: column;
}

@media (min-width: 900px) {
    .pricing-table {
        flex-direction: row;
    }
}

.pricing-table * {
    text-align: center;
    text-transform: uppercase;
}

.pricing-table button {
    text-align: center;
    text-transform: none;
}

.pricing-plan {
    border-bottom: 1px solid #e1f1ff;
    padding: 25px;
}

.pricing-plan:last-child {
    border-bottom: none;
}

@media (min-width: 900px) {
    .pricing-plan {
        border-bottom: none;
        border-right: 1px solid #e1f1ff;
        flex-basis: 100%;
        padding: 25px 50px;
    }

    .pricing-plan:last-child {
        border-right: none;
    }
}

.pricing-img {
    margin-bottom: 25px;
    max-width: 100%;

    transition: filter 0.5s ease-out;
    will-change: filter;
}

.pricing-img:hover{
    filter: invert(100%);
}

.pricing-header {
    color: #888;
    font-weight: 600;
    letter-spacing: 1px;
    max-height: 24px;
}

.pricing-features {
    color: #016FF9;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 50px 0 25px;
}

.pricing-features-item {
    border-top: 1px solid #e1f1ff;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
}

.pricing-features-item div{
    display: table-cell;
    height: 200px;
    vertical-align: middle;
}

@media (max-width: 900px) {
    .pricing-features-item div{
        display: initial;
        height: unset;
        vertical-align: unset;
    }
}


.pricing-features-item:last-child {
    border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
    color: #016FF9;
    display: block;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
}

a.pricing-button{
    color: #348EFE;
}


.pricing-button {
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    display: inline-block;
    margin: 25px 0;
    padding: 15px 35px;
    text-decoration: none;
    transition: all 150ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
    background-color: #e1f1ff;
}

.pricing-button.is-featured {
    background-color: #48aaff;
    color: #fff;
}

.pricing-button.is-featured:hover,
.pricing-button.is-featured:active {
    background-color: #269aff;
}

.titleS{
    font-size: 25px;
    text-align: center;
}

.titleP{
    font-size: 28px;
}


.tyrobuttonNone {
    font-family: "Helvetica", "Arial", sans-serif;
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    -webkit-appearance: none;
    appearance: none;
    background-color: #1325d7;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px #0d1a8f;
}
.tyrobuttonNone:focus {
    outline: 0;
}
.tyrobuttonNone:before, .tyrobuttonNone:after {
    position: absolute;
    content: "";
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}
.tyrobuttonNone:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #1325d7 20%, transparent 20%), radial-gradient(circle, transparent 20%, #1325d7 20%, transparent 30%), radial-gradient(circle, #1325d7 20%, transparent 20%), radial-gradient(circle, #1325d7 20%, transparent 20%), radial-gradient(circle, transparent 10%, #1325d7 15%, transparent 20%), radial-gradient(circle, #1325d7 20%, transparent 20%), radial-gradient(circle, #1325d7 20%, transparent 20%), radial-gradient(circle, #1325d7 20%, transparent 20%), radial-gradient(circle, #1325d7 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.tyrobuttonNone:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #1325d7 20%, transparent 20%), radial-gradient(circle, #1325d7 20%, transparent 20%), radial-gradient(circle, transparent 10%, #1325d7 15%, transparent 20%), radial-gradient(circle, #1325d7 20%, transparent 20%), radial-gradient(circle, #1325d7 20%, transparent 20%), radial-gradient(circle, #1325d7 20%, transparent 20%), radial-gradient(circle, #1325d7 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.tyrobuttonNone:active {
    transform: scale(0.9);
    background-color: #1325d7;
    box-shadow: 0 2px 25px #0d1a8f;
}
.tyrobuttonNone.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}
.tyrobuttonNone.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}