#service-start {
    text-align: center;
    border: 2px solid #131313;
    padding: 0px 20px 0;
    background-color: #131313;
    color: white;
    margin-top: 38px;
}
#service-start p {
    font-size: 15px;
}
#service-start-but {
    text-align: center;
    border: 2px solid #131313;
    padding: 16px 20px 0;
    background-color: #131313;
    color: white;
}

#service-second{
    text-align: center;
    border: 2px solid #131313;
    padding: 20px 60px 0;
    color: white;
    text-align: justify;
}

#service-second-but{
    text-align: center;
    padding: 50px 60px 0;
    text-align: justify;
}

#service-second-but h2.art,
#service-second h2.art,
#service-solidserv h2.art{

    text-align: center;

}

#service-second-but .tyrobutton,
#service-second .tyrobutton,
#service-solidserv .tyrobutton{

    width: 100%;

}

.service-ecart{

    margin-bottom: 30px;
}

.service-page {
    font-family: 'Open Sans', sans-serif;
}

#service-solidserv {
                
    text-align: justify;
}

#service-solidserv div.container{
    background-color: #26272b;
    border-radius: 20px;
}

#service-solidserv-fleche {
    position: relative;
    margin-top: 40px;
    /* border: solid green; */
}
#service-solidserv-fleche::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 62%;
    border-style: solid;
    border-width: 80px 80px 80px 80px;
    border-color: transparent transparent #26272b transparent;
}


.img-solidserv{ 
    width: 264px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 58px;
}

#btn-solidserv{
    margin-top: 18px;
    font-size: 12px;
}

.container-serv {
    max-width: 1279px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.panel {
    background-color: #282828;
    border-radius: 10px;
    padding: 15px 25px;
    position: relative;
    width: 100%;
    z-index: 10;
}

.pricing-table {
    display: flex;
    flex-direction: column;
}

@media (min-width: 900px) {
    .pricing-table {
        flex-direction: row;
    }
}

.pricing-table * {
    text-align: center;
    text-transform: uppercase;
}

.pricing-table button {
    text-align: center;
    text-transform: none;
}

.pricing-plan {
    border-bottom: 1px solid #e1f1ff;
    padding: 25px;
}

.pricing-plan:last-child {
    border-bottom: none;
}

@media (min-width: 900px) {
    .pricing-plan {
        border-bottom: none;
        border-right: 1px solid #e1f1ff;
        flex-basis: 100%;
        padding: 25px 50px;
    }

    .pricing-plan:last-child {
        border-right: none;
    }
}

.pricing-img {
    margin-bottom: 25px;
    max-width: 100%;


    transform: translate3d(0, 0, 0);
    transition: transform 0.2s ease-out;
    will-change: transform;
}

.pricing-img:hover{
    transform: translate(0, -5px);
    transform: translate3d(0, -5px, 0);
}

.pricing-header {
    color: #d2d2d2;
    font-weight: 600;
    letter-spacing: 1px;
    max-height: 24px;
}

.pricing-features {
    /* color: #016FF9; */
    color: #d2d2d2;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 27px 0 25px;
}

.pricing-features-item {
    border-top: 1px solid #e1f1ff;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
}

.pricing-features-item div{
    display: table-cell;
    height: 162px;
    vertical-align: middle;
}

@media (max-width: 900px) {
    .pricing-features-item div{
        display: initial;
        height: unset;
        vertical-align: unset;
    }
}


.pricing-features-item:last-child {
    border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
    color: #016FF9;
    display: block;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
}

a.pricing-button{
    color: #348EFE;
}


.pricing-button {
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    display: inline-block;
    margin: 25px 0;
    padding: 15px 35px;
    text-decoration: none;
    transition: all 150ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
    background-color: #e1f1ff;
}

.pricing-button.is-featured {
    background-color: #48aaff;
    color: #fff;
}

.pricing-button.is-featured:hover,
.pricing-button.is-featured:active {
    background-color: #269aff;
}

.titleS{
    font-size: 25px;
    text-align: center;
}

.titleP{
    font-size: 28px;
}

@media (max-width: 991px) {
    br#991none{
        display: none;
    }
    #hratom{
        margin-top: 20px;
    }
    #service-start{
        max-width: unset!important;
        margin-left: unset!important;
        margin-right: unset!important;
        width: 100%!important;

        padding-right: unset;
        padding-left: unset;

        display: initial;
        -ms-flex-wrap: unset;
        flex-wrap: unset;

    }

    #service-start .col-9{
        -ms-flex: unset;
        flex: unset;
        max-width: unset;
    }

    #service-start .col-3{
        display: none;
    }

    #service-start .col-9 p.container{
        max-width: unset!important;
        margin-left: unset!important;
        margin-right: unset!important;
        width: 100%!important;
    }

}
.tyrobuttonNone {
    font-family: "Helvetica", "Arial", sans-serif;
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    -webkit-appearance: none;
    appearance: none;
    background-color: #1325d7;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px #0d1a8f;
}
.tyrobuttonNone:focus {
    outline: 0;
}
.tyrobuttonNone:before, .tyrobuttonNone:after {
    position: absolute;
    content: "";
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}
.tyrobuttonNone:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #1325d7 20%, transparent 20%), radial-gradient(circle, transparent 20%, #1325d7 20%, transparent 30%), radial-gradient(circle, #1325d7 20%, transparent 20%), radial-gradient(circle, #1325d7 20%, transparent 20%), radial-gradient(circle, transparent 10%, #1325d7 15%, transparent 20%), radial-gradient(circle, #1325d7 20%, transparent 20%), radial-gradient(circle, #1325d7 20%, transparent 20%), radial-gradient(circle, #1325d7 20%, transparent 20%), radial-gradient(circle, #1325d7 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.tyrobuttonNone:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #1325d7 20%, transparent 20%), radial-gradient(circle, #1325d7 20%, transparent 20%), radial-gradient(circle, transparent 10%, #1325d7 15%, transparent 20%), radial-gradient(circle, #1325d7 20%, transparent 20%), radial-gradient(circle, #1325d7 20%, transparent 20%), radial-gradient(circle, #1325d7 20%, transparent 20%), radial-gradient(circle, #1325d7 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.tyrobuttonNone:active {
    transform: scale(0.9);
    background-color: #1325d7;
    box-shadow: 0 2px 25px #0d1a8f;
}
.tyrobuttonNone.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}
.tyrobuttonNone.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}

i.arrow-service{

    margin-left: 10px;
    font-size: 40px;
    color: white;
    margin-right: 10px;
    top: 12px;
    position: relative;

}