body.light #storyhead{
    text-align: center;
    border: 2px solid #f3f6fd;
    padding: 30px 20px 0;
    background-color: #f3f6fd;
    color: #2a2a2a;
}
body.light .timeline-content{
    background: white;
}

body.light .timeline-content::after {
    border-color: transparent transparent transparent white;
}

body.light .timeline-item:nth-child(even) .timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent white transparent transparent;
}