body{
    font-family: 'Ubuntu', sans-serif;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('http://tyrolium.fr/Contenu/Image/Background6.png');
    background-position: center;
    background-size: cover;
    padding: 20px;
    color: white;
}
header nav {
    display: flex;
    justify-content: space-between;
}
header nav img {
    height: 50px;
    width: auto;
}
header nav ul {
    display: flex;
}
header nav ul li {
    margin-left: 20px;
    color: white;
}
header h1 {
    text-align: center;
    padding-top: 150px;
    text-transform: none;
    font-size: 4rem;
    letter-spacing: 5px;
}
header h8{
    text-align: center;
    padding-top: 150px;
    text-transform: none;
}
header .btn{
    margin-bottom: 80px;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}
.navbar .navbar-toggler-icon {
    background: white;
    width: 40px;
    height: 2px;
    position: relative;
    display: inline-block;
    transition: all 0.3s ease;
}
.navbar .navbar-toggler-icon::before,
.navbar .navbar-toggler-icon::after {
    content: "";
    background: white;
    width: 40px;
    height: 2px;
    position: absolute;
    left: 0px;
    transition: all 0.3s ease;
}
.navbar .navbar-toggler-icon::before {
    top: -10px;
}
.navbar .navbar-toggler-icon::after {
    top: 10px;
}

.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background: transparent;
}
.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
    top: 0px;
    transform: rotate(45deg);
}
.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
    top: 0px;
    transform: rotate(-45deg);
}
@media (max-width: 991px) {
    ul.navbar-nav {
        background: black;
        padding-bottom: 30px;
    }
    ul.navbar-nav li {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 25px;
        margin-top: 30px;
    }
}
